Form{
  text-align: left;
  font-family: "Arial Rounded MT";
}



p::after{
  content: ""; 
    display: block; 
    margin: 0 ; 
    width: 10%; 
    padding-top: 5px; 
    border-bottom: 5px solid orange; 
   
    font-weight: bold;
}

.group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch
}

.submit-btn{
  background-color: #002080;
  background-image: linear-gradient(to right, #002080 , #7300e6);
  border:none;
  width:280px;
  padding: 5px;
  margin-bottom: 50px;
}

.submit-btn:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}